## CRYSTAL DATA SCIENCE ASSIGNMENT ##

In [8]:
# To check the data type of different assigned variables
Name = 'Ade'

In [9]:
type (Name)

str

In [10]:
Numbers = [0.7, 0.5, 0.3]

In [11]:
type (Numbers)

list

In [12]:
Decimal = 0.001

In [13]:
type(Decimal)

float

In [14]:
# To create a list and turn it to a DataFrame
Dummy_list = { 'Fruits' : ['Apple', 'Banana', 'Orange'], 'Colours': ['Green', 'Yellow', 'Orange']}

In [17]:
# Importing the required package
import pandas as pd

In [18]:
Dummy = pd.DataFrame (Dummy_list)

In [19]:
Dummy

   Fruits Colours
0   Apple   Green
1  Banana  Yellow
2  Orange  Orange

In [ ]:
Dummy

:

In [1]:
print ('Bank statement')

Bank statement

# Hello
- Point 1
- Point 2

-

In [3]:
print ('Tech is teching')

Tech is teching